
.contactContent {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.contactForm {
    flex: 1;
    min-width: 300px;
    padding: 25px;
    background: linear-gradient(90deg, rgb(69, 206, 59), rgb(116, 165, 255));

}

.contactDetails {
    background-color: rgb(227, 227, 227);
    flex: 1;
    display: flex;
    padding: 25px;
    flex-direction: column;
}
.contactInfo{
    color: rgb(54, 54, 55);
    margin: 15px;
    text-align: justify;
}

.contactInfo h3 {
    margin: 5px 0;
}

/* Media Query for Responsiveness */
