.slide1 {

    border: 2px #7e7b7b solid;
    min-height: 80vh;

}

.slide1 #details {
    background-color:beige;
    flex: 1.5;
    font-size: 2em;
    padding: 55px;

}

#details h2 {
    color: rgb(32, 176, 27);
}


.slide1 #imageBox {
    flex: 1;
    background-color: rgb(81, 203, 29);
    align-items: center;
    padding: 15px;
    border-left: 2px solid gray;
}

#imageBox img {
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px green;
}